if TARGET_MENUS_RK3288

config SYS_BOARD
	default "menus_rk3288"

config SYS_VENDOR
	default "rtavs"

config SYS_CONFIG_NAME
	default "menus_rk3288"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
